html, body {
    font-family: 'Roboto', sans-serif;
}
.hidden {
    display: none;
}

.book {
    display: inline-block;
    width: 300px;
}

.library-container {
    margin-top: 30px;
}

.addNewBookButton {
    font-size: 20px;
    background-color: #1a8cff;
    border: none;
    padding: 10px 20px;
    border-radius: 2px;
}

.control-input {
    float: left;
    width: 50%;
    margin: 20px auto;
}

.control-input label {
    font-size: 26px;
}

.control-input legend {
    font-size: 26px;
}

.control-input input[type="text"], input[type="number"] {
    width: 300px;
    font-size: 18px;
    padding: 10px;
    outline:  none;
    box-sizing: border-box;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    border: none;
    outline: none;
    box-sizing: border-box;
    text-align: center;
}

tbody:nth-child(2n+1) {
    background-color: #f2f2f2;
}

tbody:first-of-type {
    background-color: #e6e6e6;
    font-size: 20px;
}

th {
    height: 60px;
}

td {
    height: 40px;
}

.delete-button {
    background-color: #cc0000;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 10px 20px;
}

.read-button {
    background-color: #00cc00;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 10px 20px;
}

